In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("zinc15_train_full.csv")
df = df.loc[:,('mwt', 'logp', 'length', 'cnt_ring', 'ba_bcl2', 'ba_bclxl', 'ba_bclw')]

In [3]:
df

            mwt   logp  length  cnt_ring   ba_bcl2  ba_bclxl   ba_bclw
0       552.303  0.651      66         2  6.027321  5.739085  5.318719
1       899.081  0.463     112         9  5.350236  4.991594  4.677246
2       538.414  0.210      77         2  4.933928  4.714845  5.049777
3       502.637  0.333      59         2  5.222250  5.273129  4.764635
4       792.744  0.246     102         4  4.905717  4.914623  4.521364
...         ...    ...     ...       ...       ...       ...       ...
600111  529.039  5.669      60         4  5.851861  5.564353  5.456973
600112  554.509  5.527      55         3  6.331471  6.066432  5.528964
600113  504.349  5.891      53         3  6.018271  5.518678  5.613740
600114  636.451  6.549      87         4  6.204907  6.185677  6.270988
600115  521.038  5.711      59         4  6.083230  6.598084  5.672007

[600116 rows x 7 columns]

In [4]:
df.quantile(0.99, axis=0)

mwt         772.306550
logp          9.007000
length       96.000000
cnt_ring      7.000000
ba_bcl2       7.900122
ba_bclxl      7.904888
ba_bclw       7.271631
Name: 0.99, dtype: float64

In [5]:
df.quantile(0.95, axis=0)

mwt         688.811000
logp          7.665000
length       84.000000
cnt_ring      6.000000
ba_bcl2       7.170921
ba_bclxl      7.234683
ba_bclw       6.804805
Name: 0.95, dtype: float64

In [6]:
df.quantile(0.9, axis=0)

mwt         651.884500
logp          7.102000
length       79.000000
cnt_ring      6.000000
ba_bcl2       6.835523
ba_bclxl      6.896268
ba_bclw       6.539080
Name: 0.9, dtype: float64

In [7]:
df.quantile(0.75, axis=0)

mwt         597.289000
logp          6.228000
length       72.000000
cnt_ring      5.000000
ba_bcl2       6.359998
ba_bclxl      6.378022
ba_bclw       6.102008
Name: 0.75, dtype: float64

In [8]:
df.loc[:,["ba_bcl2", "ba_bclxl", "ba_bclw"]].mean()

ba_bcl2     5.986288
ba_bclxl    5.882168
ba_bclw     5.702810
dtype: float64

In [9]:
df.loc[:,["ba_bcl2", "ba_bclxl", "ba_bclw"]].std()

ba_bcl2     0.665718
ba_bclxl    0.789411
ba_bclw     0.622243
dtype: float64

In [10]:
df.loc[:,["ba_bcl2", "ba_bclxl", "ba_bclw"]].max()

ba_bcl2     10.395411
ba_bclxl     9.775959
ba_bclw      8.541430
dtype: float64

In [11]:
df.loc[:,["ba_bcl2", "ba_bclxl", "ba_bclw"]].min()

ba_bcl2     2.591157
ba_bclxl    2.313086
ba_bclw     2.644025
dtype: float64